/* File name: aboutme.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023  */

  .about-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.about-container h2 {
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.about-container img {
  width: 350px;
  border-radius: 30%;
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}

.description {
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-container p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-container ul {
  margin-bottom: 10px;
  padding-left: 20px;
}

.about-container li {
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.5;
}

.about-container a {
  color: #4caf50;
}
