<!--File name: aboutme.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023 -->

<div class="about-container">
  <h2>Hey, I'm Hin Wa Chan.</h2>

  <img src="../../assets/mypic.jpg" alt="myPic">

  <p class="description">I am a passionate software engineering technician studying at Centennial College.
    Hailing from the vibrant city of Hong Kong, I have always been captivated by the world of technology and its endless possibilities.
    As a software enthusiast, I am constantly exploring new horizons and seeking innovative solutions to complex problems.</p>

  <p>Here are a few key points about me:</p>

  <ul>
    <li>Education:
      <br>
      Currently pursuing a software engineering technician program at Centennial College, I am gaining a solid foundation in programming languages, software development methodologies, and problem-solving techniques.
      My coursework has equipped me with the skills to develop robust and efficient software solutions.</li>
    <li>Travel Enthusiast:
      <br>
      Beyond my love for technology, I am an avid traveler.
      I believe that exploring different cultures and embracing diverse perspectives broadens my understanding of the world and fuels my creativity.
      Through my journeys, I have learned to adapt quickly, communicate effectively, and appreciate the beauty of collaboration.</li>
  </ul>
  <p>Feel free to explore my portfolio and get in touch!</p>
  <p>Open my <a href="../../assets/Resume.pdf">resume</a></p>
</div>
