<!--File name: home.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023 -->

<div class="nav-container">
  <img src="../../assets/webLogo.png" alt="Web Logo" height="50px">
  <p>Hin Wa's Website</p>
  <nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">AboutMe</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="/contact">ContactMe</a></li>
    </ul>
  </nav>
</div>


