/* File name: project.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023  */

.projects-container {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 980px;
  margin: 0 auto;
}

.projects-container h1{
  padding-left: 15px;
}

.project-card {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color:rgb(227, 247, 251);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.project-card h2 {
  font-size: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-card p {
  line-height: 1.5;
  margin-bottom: 15px;
}
