.projects-container {
  justify-content: space-between;
  align-items: flex-start;
  max-width: 980px;
  margin: 0 auto;
}

.projects-container h1{
  padding-left: 10px;
}

.project-card {
  width: 960px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.project-card h2 {
  font-size: 25px;
  margin-bottom: 10px;
}

.project-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-card p {
  line-height: 1.5;
  margin-bottom: 15px;
}
