<!--File name: project.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023 -->

<div class="projects-container">
  <h1>Projects</h1>
  <div class="project-card">
    <h2>Project 1: Hero Registration Form in C#</h2>
    <img src="../../assets/HeroRegForm.png" alt="hero reg form">
    <p>Description:
      <br>
      I was responsible for designing and developing a Hero Registration Form using C# programming language.
      The form allowed users to input their personal information, and superpower preferences.
      Through this project, I gained hands-on experience in C# programming, user input validation, and database integration.
      The outcome was a user-friendly and efficient registration form that streamlined the process of hero enrollment for a fictional organization.</p>
  </div>
  <div class="project-card">
    <h2>Project 2: Database Design for Online Startup Tea Company</h2>
    <img src="../../assets/databaseSQL.png" alt="database SQL">
    <p>Description:
      <br>
      I collaborated closely with my friend, who owns an online startup tea company, to design a comprehensive database system.
      Working together, we analyzed the company's requirements, identified key data entities, and designed a database schema that supported inventory management, customer profiles, and sales tracking.
      By implementing efficient data organization and retrieval, we helped streamline business operations, resulting in improved inventory management and enhanced customer experience.</p>
  </div>
  <div class="project-card">
    <h2>Project 3: Interactive Slideshow of My Western Vacation (Website Design)</h2>
    <img src="../../assets/InteractiveSlideshow.png" alt="Interactive Slideshow">
    <p>Description:
      <br>
      As a personal project, I designed and developed an interactive slideshow on my personal website showcasing my memorable Western vacation.
      Using HTML, CSS, and JavaScript, I created a visually appealing slideshow that allowed visitors to navigate through my vacation photos and view additional details about each location.
      The project allowed me to demonstrate my skills in web design, image optimization, and interactivity.
      The result was an engaging and immersive website experience that brought my vacation memories to life..</p>
  </div>
</div>

