<!--File name: services.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023 -->

<div class="services-container">
  <h1>Services</h1>
  <div class="service-card">
    <h2>Website Design and Development</h2>
    <p>Create visually appealing and user-friendly websites using  HTML, CSS, JavaScript, and other web development technologies. Offer services such as website layout design, responsive design, and website optimization.</p>
    <img src="../../assets/service-WebDesign.jpg" alt="website design pic">
  </div>
  <div class="service-card">
    <h2>Software Development</h2>
    <p>With my programming skills to design, develop, and maintain software applications tailored to specific client needs. This can include web applications, mobile apps, desktop software, or custom solutions.</p>
    <img src="../../assets/service-softwareDev.jpg" alt="software development pic">
  </div>
  <div class="service-card">
    <h2>Database Management</h2>
    <p>Understanding of database systems to design and maintain efficient data storage solutions. Offer services such as database design, optimization, data migration, and data security implementation.</p>
    <img src="../../assets/service-DatabaseManage.jpg" alt="database management pic">
  </div>
</div>

