<!--File name: home.component
   Student’s Name: Hin Wa Chan
   StudentID: 301251828
   Date: 11 Jun 2023 -->

<div class="bgImage">
  <div class="home-container">

    <h1>Welcome to my page !</h1>
    <h2>I am Hin Wa Chan</h2>
  </div>
  <div class="mission-container">
    <h3>Mission Statement</h3>
    <p>As a passionate software engineering technician studying at Centennial College, my mission is to bring innovation and make a positive impact in the exciting world of technology.
      Originally from the vibrant city of Hong Kong, I've always been fascinated by the boundless possibilities that technology offers.
      I thrive on exploring new horizons and finding creative solutions to complex problems, always staying curious and up-to-date with the latest advancements in the field.
      Collaboration and continuous learning are at the core of my approach, as I aim to develop efficient and groundbreaking software solutions.
      By dedicating myself to growth, knowledge, and making a difference, I hope to leave a lasting legacy and inspire others to embrace the limitless potential that technology holds.</p>
    <button type="button" (click)="showAboutMe()">More About Me</button>
    </div>
</div>


